<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.style3 {color: #FFFFFF; font-weight: bold; }
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}
body {
	background-color: #FFFFFF;
}
.style4 {
	font-size: 16px;
	font-weight: bold;
}
.style5 {
	font-size: 16px;
	color: #FFFFFF;
}
-->
</style>
</head>

<body>
<table width="101%" border="0" cellpadding="4">
  <tr>
    <td width="50%" ><span class="style4">Заказчик</span></td>
    <td width="50%"><div align="right" class="style4">Исполнитель</div></td>
  </tr>
</table>
<h3 align="center">СМЕТА №</h3>
<h3 align="center">ОБЩАЯ СУММА= Руб </h3>
<table width="100%" border="0" cellpadding="0">
  <tr>
    <td width="10%" align="center" valign="middle" bgcolor="#333333"><span class="style3">Поз</span></td>
    <td width="40%" align="center" valign="middle" bgcolor="#333333"><div align="left" class="style3">Наименование</div></td>
    <td width="10%" align="center" valign="middle" bgcolor="#333333"><span class="style3">Кол</span></td>
    <td width="10%" align="center" valign="middle" bgcolor="#333333"><span class="style3">Ед. изм. </span></td>
    <td width="15%" align="center" valign="middle" bgcolor="#333333"><span class="style3">Цена</span></td>
    <td width="15%" align="center" valign="middle" bgcolor="#333333"><span class="style3">Сумма</span></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0">
  <tr>
    <td width="10%" align="center" valign="middle">&nbsp;</td>
    <td width="40%" align="center" valign="middle"><div align="left"></div></td>
    <td width="10%" align="center" valign="middle">&nbsp;</td>
    <td width="10%" align="center" valign="middle">&nbsp;</td>
    <td width="15%" align="center" valign="middle">&nbsp;</td>
    <td width="15%" align="center" valign="middle">&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="100%" border="0" align="left" cellpadding="4" bgcolor="#333333">
  <tr>
    <td><span class="style5">Итого за работы и материалы = Руб </span></td>
  </tr>
</table>
<p>&nbsp;</p>
<p align="center">&nbsp;</p>
</body>
</html>
